PORT=5500

# Base de données MySQL
# En local : localhost
# Avec Docker : mysql (nom du service docker-compose)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=marsaifestival
DB_USER=root
DB_PASSWORD=

# Scaleway S3
SCALEWAY_ACCESS_KEY=SCW3MFQBR803FXZS4N33
SCALEWAY_SECRET_KEY=c64db8bf-f541-478d-aa6a-cbcb8c7be2ae
SCALEWAY_ENDPOINT=https://s3.fr-par.scw.cloud
SCALEWAY_BUCKET_NAME=tln
SCALEWAY_REGION=fr-par
SCALEWAY_FOLDER=grp1
